.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    height: 10vh;
    background-color: #0a0a0a;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

.languages_container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.languages_container > button{
    border-radius: 15px;
    border: none;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.languages_container > button:hover{
    transform: scale(1.1);
}

.documentation_link{
    text-decoration: none;
    color: #FFF;
}

.documentation_link:hover{
    color: #881a2b;
    transition: 0.1s;
}