*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_container{
    background-image: url("../../images/intro.jpeg");
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    justify-content: start;
    gap: 10px;
}

.button_container{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}